.calculator-window{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 20vw;
    aspect-ratio: 1/1.1;
    background-color: #FFFFFF;
    box-shadow: 7px 2px 4px 1px rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    &.visible{
        opacity: 1;
        pointer-events: all;
    }
    .status-bar{
        background-color: #FFFFFF;
        width: 100%;
        height: 20px;
        position: absolute;
        top: -20px;
        left: 0px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #E3E3E3;
        box-shadow: 7px 2px 4px 1px rgba(0, 0, 0, 0.4);
        z-index: 2;
        .logo {
            height: 20px;
            padding-left: 5px;
            padding-top: 5px;
            width: 15px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
        .window-name{
            font-size: 12px;
            margin-left: 15px;
        }
        .close-btn{
            width: 14px;
            height: 14px;
            background-color: red;
            color: #FFFFFF;
            position: absolute;
            right: 10px;
            top: 2px;
            font-size: 12px;
            vertical-align: middle;
            display: inline-block;
            line-height: 12px;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
        }
    }
    .Calculator{
        position: relative;
        z-index: 3;
        height: 100%;
        background-color: #1a1e34;
        .result{
            width: 100%;
            height: 25%;
            margin-bottom: 25px;
        }
        .keypad{
            background-color: #000000;
            height: 100%;
            table{
                width: 100%;
                padding: 0 5px;
                tr{
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    td{
                        color: #FFFFFF;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        text-align: center;
                        width: calc(25% - 5px);
                        border-radius: 25px 25px 0 0;
                        background-color: #1a1e34;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}