.Input{
    width: 100%;
    height: 25px;
    cursor: text;
    position: sticky;
    bottom: 0;
    display: flex;
}

.path{
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
}
input{
    display: inline-block;
    flex: 1;
    background-color: #0c0c0c;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-family: 'M PLUS 2', sans-serif;
    margin-left: -2px;
    margin-top: 0px;
    font-size: 16px;
}