.Desktop{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition-delay: 0.3s;
}
.Desktop.visible{
    opacity: 1;
}
.desktop-icon{
    position: absolute;
    text-align: center;
    border: 1px solid transparent;
    &:hover{
        background-color: rgba(173, 216, 230, .4);
        border: 1px solid #009DFF;
    }
}
.calculator-icon img,
.desktop-icon img{
    width: 50px;
    pointer-events: none;
}
.calculator-icon .icon-name,
.desktop-icon .icon-name{
    color: #FFFFFF;
    font-size: 12px;
}
/* 
   SIDE BAR 60px WIDTH
   TOP BAR 40px HEIGHT
   ADD 20 PX PADDING TOP & LEFT
*/
.notepad{
    width: 70px;
    height: 80px;
    left: 80px;
    top: 60px;
}
.calculator{
    width: 70px;
    height: 80px;
    left: 170px;
    top: 60px;
}
.file-explorer{
    width: 70px;
    height: 80px;
    left: 260px;
    top: 60px;
}