.SideBar{
    width: 60px;
    height: calc(100% - 40px);
    background-color: #FFFFFF;
    margin-top: 40px;
}

.console-icon{
    text-align: center;
    border-right: 5px solid transparent;

}

.console-icon.open{
    background-color: #E3E3E3;
    border-right: 5px solid lightblue;
}

.console-icon img{
    width: 80%;
    margin: 0 auto;
    transition: all 0.2s linear;
    cursor: pointer;
}

.console-icon img:hover{
    transform: scale(1.1);
}